
.about {
    background-image: url('../src/img/UN5.webp');
    background-size: cover;
    height: 100vh; 
}



.img-fluid {
    max-width: 100%;
    height: auto;
}


img {
    vertical-align: middle;
    border-style: none;
}



.block-38 .block-38-header img {
    width: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
}




.block-38 .block-38-header .block-38-heading {
    font-size: 18px;
    color: #000;
    margin: 0;
    font-weight: 300;
}


.block-38 .block-38-header .block-38-subheading {
    color: #b3b3b3;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 15px;
}