
.home {
    /* Your custom styles for the Home component */
    background-image: url('../src/img/UN1.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust the height as needed */
    /* You can add more CSS properties as needed */
}
  

.heading {
    color: #fff;
    font-size: 70px;
    line-height: 1.30;
    /* margin-bottom: 50px; */
    margin-top: 80px;
    font-family: "Gaegu", cursive;
}




 